/* All pages */
html,
body {
  font-family: "Times New Roman";
  font-size: 15px;
  height: 100%;
}

.header {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 100%;
  height: 50px;
}

.main {
  margin: 0 auto;
  display: block;
  height: 100%;
  margin-top: 60px;
}

.navbar-brand {
  color: #fff;
}

/* Home Page */
.fullName,
.jobTitle {
  /* top | right | bottom | left */
  margin: 1.5em 0 0.05em 0;
  text-align: center;
}

.title,
.hobbies {
  text-align: center;
  margin-top: 1em;
}

.main-para,
.sports {
  padding-left: 2em;
  padding-right: 2em;
}

img,
#logos {
  display: flex;
  height: 175px;
  min-width: 190px;
  /* top | right | bottom | left */
  margin: 3em 5em 1.4em 4em;
  padding: 2.2em 1.85em 0.5em 1.05em;
}

@media (max-width: 768px) {
  img,
  #logos {
    flex-direction: column;
    height: 105px;
    width: 255px;
    margin: 2em 3em 1.2em 3em;
    padding: 0.15em 0.15em 1.22em 5.7em;
  }
}

/* Contact Page */

.contact {
  text-align: center;
  margin-top: 1em;
}

.contact-info {
  display: flex;
  text-align: center;
  flex-direction: column;
  text-align: center;
  gap: 1em;
}

/* Skills Page */

.skillsIknow {
  text-align: center;
  margin-top: 1em;
  text-decoration: underline;
}

.skills {
  text-align: center;
  margin-right: 1.15em;
  line-height: 0.75;
}

.myProjects {
  text-align: left;
  padding-left: 1em;
}

.footer {
  padding-top: 20em;
}

/* Footer */

.info {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

/* navbar*/
.navbar-toggler {
  background-color: blue;
  max-width: 12em;
  max-height: 5em;
}
