/* All pages */
html {
  font-family: "Times New Roman", Times, serif;
  font-size: 14px;
  scroll-behavior: smooth;
}

.footer {
  padding-top: 20em;
}

.info {
  display: flex;
  justify-content: space-around;
  padding-top: 1em;
  padding-bottom: 1em;
}

/* Home Page */
.fullName,
.jobTitle {
  text-align: center;
}

.title,
.hobbies {
  text-align: center;
  margin-top: 1em;
}

.main-para,
.sports {
  padding-left: 2em;
  padding-right: 2em;
}
/* Contact Page */

.contact {
  text-align: center;
  margin-top: 1em;
}

.contact-info {
  display: flex;
  text-align: center;
  flex-direction: column;
  text-align: center;
  gap: 1em;
}
/* Skills Page */

.skillsIknow {
  text-align: center;
  margin-top: 1em;
  text-decoration: underline;
}

.skills {
  text-align: center;
  margin-right: 1.15em;
  line-height: 0.75;
}

.myProjects {
  text-align: left;
  padding-left: 1em;
}
